$mainColors: (
    bg-color:#007878,
    bg-color-a:#013a3afb,
    bg-pink: #FFE2E0,
    dark-grey: #8c8a8a,
    grey-bg: #F7F9FC,
    grey-bgg:#F7F7F7,
    white: #FFFFFF,
    grey:#EBEBEB,
);
$textColors: (
    main-text-color:#FFFFFFE5,
    text-color:black,
    text-color-a: #212121BF,
    text-color-red:#F75145,
    text-color-grey:#363636BF,
    dark-grey: #8c8a8a,
);

$btnColors: (
    red:#DF4244,
    green: #43D167,
    green-light:#277a3c,
    red-light:#9f3032,
    border:#27314226,
);

$cardColors: (
    greycard: #F5F5F5,
    cardbg:#F9F9F9,

);
$footer-text:#212121BF;
$radius: 0.8rem;
$black:#000000;